<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="Code Coverage">
        <Configuration>
          <CodeCoverage>
            <!-- Include or exclude assemblies as needed -->
             <Include>
                <ModulePath>.*\.dll$</ModulePath>
              </Include>
            <Exclude>
              <ModulePath>.*Test.*</ModulePath>
            </Exclude>
          </CodeCoverage>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
